.copy {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  background-color: rgb(36, 36, 36);
  color: #fff;
  width: 100%;
}

.social {
  background-color: rgb(36, 36, 36);
  clip-path: polygon(0 85%, 100% 0%, 100% 100%, 0% 100%);
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  padding-top: 10rem;
}

.icon,
.icon:visited,
.icon:active {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.icon:hover {
  transform: scale(1.2);
}
