.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(51, 51, 51, 0.8),
      rgba(19, 18, 18, 0.8)
    ),
    url(../public/images/header.jpg);
  background-position: unset;
  background-size: cover;
  object-fit: fill;
  height: 100vh;
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  position: relative;
}

.name {
  font-size: 8rem;
  text-align: center;
  padding-top: 30rem;
  color: #fff;
}

.hello {
  animation-name: moveDown;
  animation-duration: 1s;
}

.first,
.second {
  font-size: 5rem;
}

.first {
  animation-name: moveLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.second {
  animation-name: moveRight;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translatey(-10rem);
  }
  80% {
    transform: translatey(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }
  80% {
    transform: translatex(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translatex(10rem);
  }
  80% {
    transform: translatex(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
