.header {
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(51, 51, 51, 0.8),
      rgba(19, 18, 18, 0.8)
    ),
    url(../public/images/header.jpg);
  background-position: unset;
  background-size: cover;
  object-fit: fill;
  height: 100vh;
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  position: relative;
}

.name {
  font-size: 4.5rem;
  text-align: center;
  padding-top: 10%;
  color: #fff;
  text-shadow: 0.8rem 0.4rem black;
}

.photo {
  width: 30rem;
  height: 35rem;
  border-radius: 50%;
  animation-name: moveDown;
  animation-duration: 1s;
  object-fit: cover;
  border: 1px solid #fff;
  transition: all 0.2s;
}

.photo:hover {
  transform: translateY(-0.5rem);
}

.hello {
  animation-name: moveDown;
  animation-duration: 1s;
}

.first,
.second {
  font-size: 5rem;
}

.first {
  animation-name: moveDown;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.second {
  animation-name: moveDown;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translatey(-10rem);
  }
  80% {
    transform: translatey(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translatex(10rem);
  }
  80% {
    transform: translatex(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translatex(10rem);
  }
  80% {
    transform: translatex(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 75vh;
  }

  .name {
    padding-top: 40%;
  }
}
@media screen and (max-width: 800px) {
  .name {
    padding-top: 20%;
  }
  .header {
    height: 85vh;
  }
}
