.nav {
  font-size: 3rem;
  padding: 1.5rem;
  position: absolute;
  z-index: 10;
  color: #fff;
  left: 33%;
  transition: all 0.2s;
}

.link {
  margin-left: 7rem;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 3rem;
  text-decoration: none;
}

.link:visited,
.link:active {
  color: #fff;
}

.link:hover {
  border-bottom: 1px solid #fff;
  transform: scale(1.2);
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
}
