.container {
  background-image: linear-gradient(
      to right bottom,
      rgba(51, 51, 51, 0.8),
      rgba(19, 18, 18, 0.8)
    ),
    url(../public/images/projects.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0, 100% 83%, 0% 90%);
  height: 200vh;
}

.title {
  color: #fff;
  text-align: center;
  padding-top: 8rem;
  padding-top: 25rem;
  padding-bottom: 5rem;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-shadow: 0.4rem 0.4rem black;
}

.projects {
  font-size: 2rem;
  display: flex;
  padding: 6rem 6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: #fff;
  margin: 2rem;
  width: 20%;
  overflow: hidden;
  border-radius: 2rem;
  border: 1px solid #fff;
  box-shadow: 0 1.5rem 4rem black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project:hover {
  transform: translateY(-3rem);
}

.image {
  width: 100%;
  transition: all 0.2s;
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.h3 {
  font-size: 3.5rem;
  padding-left: 1rem;
  margin: 1rem 0;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 600;
  color: rgb(63, 62, 62);
}

.desc {
  padding: 1rem;
  margin-bottom: 1rem;
}

.tools {
  font-weight: lighter;
  font-size: 1.4rem;
}

.git {
  color: black;
  transition: all 0.2s;
}
.git:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1600px) {
  .container {
    height: 180vh;
  }
}
@media screen and (max-width: 1200px) {
  .projects {
    font-size: 2rem;
  }

  .h3 {
    font-size: 2.55rem;
  }

  .project {
    width: 35%;
  }

  .container {
    height: 300vh;
    clip-path: polygon(0 5%, 100% 0, 100% 85%, 0% 90%);
  }
}
@media screen and (max-width: 800px) {
  .projects {
    font-size: 2.5rem;
    display: flex;
    padding: 6rem 6rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .h3 {
    font-size: 2.55rem;
    padding-left: 1rem;
    margin: 1rem 0;
  }

  .project {
    width: 70%;
  }

  .container {
    height: 490vh;
    clip-path: polygon(0 3%, 100% 0, 100% 88%, 0% 90%);
  }
}
@media screen and (max-width: 600px) {
  .projects {
    font-size: 2.5rem;
    display: flex;
    padding: 6rem 6rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .h3 {
    font-size: 2.55rem;
    padding-left: 1rem;
    margin: 1rem 0;
  }

  .project {
    width: 70%;
  }

  .container {
    height: 400vh;
    clip-path: polygon(0 3%, 100% 0, 100% 88%, 0% 90%);
  }
}
@media screen and (max-width: 500px) {
  .container {
    height: 425vh;
  }
}
@media screen and (max-width: 400px), screen and (max-height: 700px) {
  .container {
    height: 550vh;
  }
}
@media screen and (max-width: 400px), screen and (max-height: 850px) {
  .container {
    height: 430vh;
  }
}
